/*  Global  */
:root{
    --primary:#ffcc00
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}
main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
h3{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 5px;
    color: white;
}
h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

/*  Utilites  */
.todays-picks-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
p.read-btn{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

/*  Nav  */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.ng-logo,.link-search,.link-renew,.link-menu{
    display: none;
}
.menu{
    flex-basis: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ng-logo-border{
    padding: 10px;
    width: 20px;
    height: 30px;
}
.link-login{
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    font-weight: 700;
    letter-spacing: 3px;
    transition: 1s;
}
.link-login:hover{
    color: rgba(71, 59, 59, 0.76);
}
.link-subscribe{
        background-size: 200% 100%;
        background-position: 100% 0;
        background-image: linear-gradient(to left, black 50%, var(--primary) 50%);
        transition: background-position .2s ease-in-out, color .2s ease-in-out;
        color:white;
        padding:1rem;
    }  
.link-subscribe:hover{
    background-position: 0% 0;
    color:black;
}

/* Optional way to create changes

    .subs-word:hover::before{
    content: "This is a fancy orange box.";
  background-color: #FFBA10;
  border-color: black;
  border-style: dotted;

*/

.link-arrows{
    color: black;
    margin-right: 20px;
    transition: 1s;
}
.link-arrows:hover{
    color: rgba(71, 59, 59, 0.76);
}
/*  Header  */

header h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.6rem;
    letter-spacing: 2.5px;
    padding-top: .5rem;
    font-weight: 700;
}
header p{
    text-align: center;
    font-size: 1rem;
    margin-top: -1rem;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    letter-spacing: 1px;
}
header span{
    border-bottom:2px solid var(--primary);
    background-size: 100% 200%;
    background-image:linear-gradient(to bottom, black 50%, var(--primary) 50%);
    transition: background-position .1s ease-in-out, color .1s ease-in-out;
}

header span:hover{
    background-position: 0 100%;
    color:black;
    cursor:pointer;
}

div.border{
    border-bottom: 1px solid var(--primary);
    border-bottom-width: 4.5px;
    margin-left: 47.25%;
    margin-right: 47.25%;
}

/*  Body  */

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

/* Main News */
.main-news{
    color: white;
    position: relative;/*parent should be relative*/
    margin-bottom: 20px;
}

.main-news-img img{
    height: 400px;
}

.main-news-text{
    position: absolute;/*child should be absolute*/
    top: 120px;
    left: 20px;
}

.main-news-text p.title{
    color: white;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;
}

.main-news-text p.read-btn{
    color: white;
    letter-spacing: 5px;
    font-size: 13px;
    font-weight: 700;
}

/* Secondary News */

.secondary-news{
    position: relative;
}
.secondary-news-img{
    height: 400px;
    margin: bottom 0;
}
.secondary-news-text{
    margin-top: -50px;
    padding: 5px;
    padding-left: 20px;
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: 700;
    word-spacing: 1px;
}
.secondary-news-text h3{
    color: gray;
}
.secondary-news-text h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* Today's picks */

.pick-item{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 20px;
    column-gap: 30px;
}
.pick-item img{
    width: 100px;
    height: 100px;
}
.pick-text p{
    color: white;
    font-weight: 700;
    line-height: 1.5;
}
.pick-text p:hover{
    text-decoration: underline;
}